@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --light-gray: #fafafa;
  --warm-gray: #888;
  --white: #fff;
  --white-two: #e8e8e8;
  --light-blue: #4386bf;
  --black: #121212;
  --container-padding: 6.25rem;
}

::placeholder {
  color: #000;
  opacity: 0.2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f6fa;
  padding: 4%;
}

.main-container {
  margin: 0;
  padding: 0 0 8%;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 5%);
  background-color: #fafafa;
}

nav {
  background-color: var(--white);
  padding: 1.43rem var(--container-padding);
  border-bottom: solid 1px var(--white-two);
}

.nav-title {
  font-size: 1.87rem;
  color: var(--light-blue);
  font-family: 'Montserrat', sans-serif;
  margin-right: 2.93rem;
}

.nav-links {
  column-gap: 2.56rem;
}

.nav-link {
  color: var(--black);
  font-size: 0.81rem;
  font-weight: normal;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.9px;
}

.nav-link:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.nav-user {
  border: 1px solid var(--white-two);
  padding: 0.87rem 0.87rem 0.8rem 0.87rem;
  border-radius: 50%;
}

.nav-user > img {
  filter: invert(40%) sepia(75%) saturate(3235%) hue-rotate(189deg) brightness(103%) contrast(107%);
}

.bg-white {
  background-color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-blue {
  color: var(--light-blue);
}

.opacity-5 {
  opacity: 0.5;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.books-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.938rem;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.book-title {
  margin-top: 0.188rem;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  color: #121212;
}

.theme-height {
  height: 1.125rem;
  margin-bottom: 0.25rem;
}

.actions {
  margin-top: 1.3rem;
  display: flex;
  align-items: center;
}

.btn-link {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: var(--light-blue);
  height: 1.125rem;
  margin-bottom: 0.25rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.v-line {
  height: 1.5rem;
  width: 0.12rem;
  margin: 0 1.06rem 0 0.938rem;
  border-right: solid 1px var(--white-two);
}

.separator {
  height: 0.125rem;
  margin-top: 2.5rem;
  border: solid 1px var(--white-two);
}

.form-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--warm-gray);
  margin-top: 1.81rem;
}

.book-form {
  display: flex;
  justify-content: space-between;
  row-gap: 2.125rem;
  margin-top: 1.188rem;
}

input {
  font-size: 1rem;
  padding: 0.813rem 1.063rem;
  background-color: var(--white);
  border: solid 1px var(--white-two);
  border-radius: 4px;
  outline: none;
  color: var(--warm-gray);
}

.input-title {
  width: 55.3%;
}

.input-author {
  width: 23.7%;
}

.book-button {
  width: 15.3%;
}

.btn {
  padding: 0.801rem 1.188rem;
  border-radius: 3px;
  background-color: #0290ff;
  outline: none;
  border: none;
  color: var(--white);
  font-size: 0.813rem;
  font-family: 'RobotSlab', serif;
  font-weight: bold;
}

.book-button:hover {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.w-full {
  width: 100%;
}

.text-sm {
  font-size: 0.875rem;
}

.font-lg {
  font-size: 1.375rem;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-roboto-slab {
  font-family: 'Roboto Slab', serif;
}

.font-bold {
  font-weight: bold;
}

.font-light {
  font-weight: 300;
}

.p-2 {
  padding: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mt-2\.3 {
  margin-top: 2.3rem;
}

.book-category {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
  font-weight: 700;
  color: #121212;
}

.circular-progress {
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.card-left-container {
  display: flex;
  gap: 20px;
}

.primary-button {
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 24px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
}

.progess-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.progress-bar h3 {
  font-family: "Montserrat", sans-serif;
  color: #121212;
  font-size: 2rem;
  font-weight: 400;
}

.progress-bar p {
  font-family: "Montserrat", sans-serif;
  color: #121212;
  font-size: 0.875rem;
  opacity: 0.5;
}

.current-chapter-label {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #121212;
  font-size: 0.813rem;
  opacity: 0.5;
}

.current-chapter-name {
  margin-top: 0.438rem;
  font-size: 1rem;
  letter-spacing: -0.4px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #121212;
}
